<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book store</title>
</head>
<body>
    <h1>Welcome to my book store</h1>

    <p>Here you can create a new book</p>
    <form method="POST">
        <div>
            <label>Title</label>
            <input type="text" name="title">
        </div>
        <div>
            <label>Author</label>
            <input type="text" name="author">
        </div>
        <div>
            <label>Rating</label>
            <input type="number" name="rating">
        </div>
        <input type="submit" value="Submit">
    </form>

</body>
</html>