<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book store</title>
    <style>
        .book {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>Welcome to my book store</h1>

    <p>You can create a new book <a href="/create">here</a></p>

    <p>Here are all books that we have:</p>
    {% if books|length > 0 %}
        {% for book in books %}
            <div class="book">
                <p><a href="/change/{{book.ID}}"><strong>{{book.Title}}</strong></a></p>
                <br>
                <p><strong>Author</strong>: {{book.Author}}, <strong>Rating</strong>: {{book.Rating}}</p>
            </div>
        {% endfor %}
    {% else %}
    <p>We don't have any book at moment, you can create a new one <a href="/create">here</a></p>
    {% endif %}
</body>
</html>